:root {
    --green: #5AC300;
    --black: #000D10;
    --yellow: #F2A71B;
    --blue: #02B9C5;
    --backgroundcolor: #011F26;
    --white: #E5EDEF;
    --neutral: #BFB78F;
}

@font-face {
    font-family: fontequiz;
    src: url(../fonts/LuckiestGuy-Regular.ttf );
}

@font-face {
    font-family: novaflat;
    src: url(../fonts/NovaFlat-Regular.ttf );
}

@font-face {
    font-family: lobster;
    src: url(../fonts/Lobster-Regular.ttf );
}

@font-face {
    font-family: shippor;
    src: url(../fonts/ShipporiAntique-Regular.ttf );
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--black);
    margin: 0%;
}

header h1 {
    margin-left: 45px;
    font-family: fontequiz;
    font-size: 24pt;
    color: var(--yellow);
}

.conteudo {
    height: calc(100vh - 70px);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--backgroundcolor);
}