:root {
    --green: #5AC300;
    --black: #000D10;
    --yellow: #F2A71B;
    --blue: #02B9C5;
    --backgroundcolor: #011F26;
}

@font-face {
    font-family: fontequiz;
    src: url(../fonts/LuckiestGuy-Regular.ttf );
}

@font-face {
    font-family: novaflat;
    src: url(../fonts/NovaFlat-Regular.ttf );
}

body {
    margin: 0;
    border: 0;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--black);
    margin: 0%;
}

header h1 {
    margin-left: 45px;
    font-family: fontequiz;
    font-size: 24pt;
    color: var(--yellow);
}

.conteudo {
    height: calc(100vh - 70px);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--backgroundcolor);
}

.hero {
    position: absolute;
    bottom: 300px;
}

.hero p {
    font-size: 56pt;
    font-family: fontequiz;
    color: var(--yellow);
}

.botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

button {
    font-size: 20pt;
    outline: none;
    background-color: blueviolet;
    border-radius: 10px;
    width: 109px;
    height: 45px;
    font-family: novaflat;
    font-weight: 100;
    border: none;
    cursor: pointer;
}

button:nth-child(1) {
    background-color: var(--blue);
}

button:nth-child(2) {
    background-color: var(--green);
}

button:hover {
    background-color: rgba(255, 255, 255, .1);
}