body {
    margin: 0;
    padding: 0;
    z-index: hidden;
    overflow-x: hidden;
}

main h1 {
    font-family: lobster;
    font-size: 36pt;
    color: var(--white);
    font-weight: 100;
}

.opcoes-perguntas,
.opcoes-min {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px;
}

.opcoes-perguntas {
    padding-top: 0px;
}

.opcoes-perguntas h1 {
    color: var(--white);
}

.opcoes-min h1 {
    color: var(--yellow);
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 50%;
    height: 25px;
}

.botoes input {
    width: 170px;
    height: 40px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    background-color: transparent;
    font-family: lobster;
    color: var(--neutral);
    font-size: 18pt;
    cursor: pointer;
}

.botoes input:hover {
    background-color: rgba(255, 255, 255, .2);
    color: #faf5db;
}

.doar {
    position: absolute;
    top: calc(100% - 10%);
    left: calc(100% - 90%);
}

.doar input {
    width: 95px;
    height: 30px;
    font-family: novaflat;
    font-weight: 100;
    border: none;
    cursor: pointer;
    background-color: var(--blue);
    border-radius: 10px;
    font-size: 15pt;
    outline: none;
}

.doar input:hover {
    background-color: rgba(0, 255, 0, .9);
}