body {
    margin: 0;
    border: 0;
}

.hero {
    position: absolute;
    bottom: 300px;
}

.hero p {
    font-size: 56pt;
    font-family: fontequiz;
    color: var(--yellow);
}

.botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

button {
    font-size: 20pt;
    outline: none;
    background-color: blueviolet;
    border-radius: 10px;
    width: 109px;
    height: 45px;
    font-family: novaflat;
    font-weight: 100;
    border: none;
    cursor: pointer;
}

button:nth-child(1) {
    background-color: var(--blue);
}

button:nth-child(2) {
    background-color: var(--green);
}

button:hover {
    background-color: rgba(255, 255, 255, .1);
}